.container-fluid {
    height: 67hv;
}

.cust-starship-header {
    border-top: 1px solid #4b4848;
    border-bottom: 1px solid #4b4848;
}

h5, p {
    color: #cac2c2;
}

p {
    font-size: 0.9rem;
}
