.container-fluid {
    height: 67hv;
}

.cust-starship-header {
    border-top: 1px solid #4b4848;
    border-bottom: 1px solid #4b4848;
}

h5, p {
    color: #cac2c2;
}

h5 {
    font-weight: 500;
}

p {
    font-size: 0.9rem;
}

img {
    border-radius: 22px;
    z-index: 1;
    position: relative;
}

@media (max-width: 767.8px) {

    .starship-info-col {
    margin-top: 26px;
 }
}

 @media (max-width: 575.8px) {

    img {
    width: 400px;
    margin-left: auto;
 }
}

@media (max-width: 515px) {

    img {
    width: 380px;
 }
}

@media (max-width: 500px) {

    img {
    width: 380px;
 }
}

@media (max-width: 432px) {

    img {
    width: 320px;
 }
}