.container-fluid {
    background-color: black;
}

li {
    color: #9e9898;
    list-style-type: none;
    background-color: #161616;
    margin-bottom: 22px;
    padding: 16px;
    cursor: pointer;
}

.starships {
    transition: all 0.2s ease;
    margin-right: 112px;
    margin-left: 112px;
}

.starships:hover {
    color: aliceblue;
    transform: scale(1.1);
}

.starship-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.starship-model {
    font-size: 16px;
}