
.cust-home-body {
    margin: 0;
    padding: 0;
    color: yellow;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
  }
  
  .star-wars-intro {
    position: relative;
    min-height: 50vh;
    max-height: 80vh;
    perspective: 400px;
    overflow: visible; 
  }
  
  .crawl {
    position: absolute;
    bottom: -100%; 
    width: 100%;
    height: auto;
    transform-origin: 50% 100%; 
    animation: crawl 6s linear forwards; 
  }

  .crawl-2 {
    position: absolute;
    bottom: 60%; 
    width: 100%;
    height: auto;
    animation: crawl-2 0.7s linear forwards; 
  }
  
  .title {
    text-align: center;
    margin-bottom: 50px;
  }

   h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-size: 2rem !important;
    text-transform: uppercase;
    margin-bottom: -22px;
  }

  .crawl p {
    text-align: center;
    font-size: 19px;
    line-height: 1.5;
    padding: 0 10%;
    margin: 0;
  }
  
@keyframes crawl {
    0% {
      bottom: -75%;  
      transform: rotateX(30deg) scale(1); 
    }
    100% {
      bottom: 50%; 
      transform: rotateX(30deg) scale(0.5); 
    }
  }

  @keyframes crawl-2 {
    0% {
      bottom: 50%; 
      transform: rotateX(30deg) scale(0.5); 
    }
   
    100% {
      bottom: 10%; 
      transform: rotateX(0deg) scale(1.1); 
    }
  }
 
  @media (max-width: 1103px) {

    .star-wars-intro {
      margin-top: 55px;
    }
  }

  @media (max-width: 895px) {

    .star-wars-intro {
      margin-top: 88px;
    }
  }

  @media (max-width: 819px) {

    .star-wars-intro {
      margin-top: 22px;
    }

    .title p{
      font-size: 0.9rem;
    }

    h1 {
      font-size: 1.6rem !important;
    }
  
    .crawl p {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 786px) {

    .star-wars-intro {
      margin-top: 22px;
    }
  }

  .title h1 {
    font-size: 1.6rem;
  }

  @media (max-width: 678px) {

    .star-wars-intro {
      margin-top: 58px;
    }
  }

  @media (max-width: 580px) {

    .star-wars-intro {
      margin-top: 88px;
    }
  }




