
    <div class="container-fluid cust-home-body">
        <div class="row d-flex">
           <div class="col">
              <div class="star-wars-intro">
                  <div class="crawl" id="crawl">
                      <div class="title">
                          <p>Episode I</p>
                          <h1>Welcome to the Star Wars Universe</h1>
                      </div>
                     <main>
                          <p>Step aboard the galaxy's most legendary vessels and meet the heroes
                              and villains who pilot them.</p><br>
                          <p>From the iconic Millennium Falcon to the mighty Star Destroyers,
                              your journey through the Star Wars universe begins here.</p><br>
                          <p>"Choose your ship and your adventure, chart your course, and may the Force be with you."</p>
                     </main>
                  </div>
              </div>
           </div>
        </div>
    </div>
