@if (pilots.length > 0) {

<div class="container-fluid cust-pilots-container">

  <div class="container">
    <div class="row">
      <header class="cust-pilots-header mb-4 mt-5">
        <h5 class="mt-2">PILOTS</h5>
      </header>
    </div>

    <div class="row d-flex justify-content-center mt-3">
      @for (pilot of pilots; track pilot.url) {
      <div class="pilot-card">
        <img [src]="getPilotImageUrl(getPilotIdFromUrl(pilot.url))" alt="{{ pilot.name }}" width="180">
        <p class="mt-2">{{ pilot.name }}</p>
      </div>
      }
    </div>
  </div>
</div>

} @else {
<p class="noPilots-p mt-5">No pilots available for this starship.</p>
}