
label {
    background-color: black;
    z-index: 1;
    position: relative;
}

button {
    z-index: 1;
    position: relative;
}

.col-6 {
    position: absolute;
}

.text-danger {
    background-color: black;
    position: relative;
    z-index: 1;
}