
@if (films.length > 0) {

    <div class="container-fluid cust-films-container">
    
      <div class="container">
        <div class="row">
          <header class="cust-film-header mb-4 mt-5">
            <h5 class="mt-2">FILMS</h5>
          </header>
        </div>
    
        <div class="row d-flex justify-content-center mt-3">
          @for (film of films; track film.url) {
          <div class="film-card">
            <img [src]="getFilmImageUrl(getFilmIdFromUrl(film.url))" alt="{{ film.title }}" width="250">
            <p class="mt-2">{{ film.title }}</p>
          </div>
          }
        </div>
      </div>
    </div>
}

