.container-fluid {
    height: 67hv;
}

.cust-film-header {
    border-top: 1px solid #4b4848;
    border-bottom: 1px solid #4b4848;
}

h5 {
    color: #cac2c2;
    font-weight: 500;
}

.film-card {
    background-color: transparent;
    justify-content: space-around;
    width: auto;
    text-align: center;
}

img {
    border-radius: 22px;
    z-index: 1;
    position: relative;
}

p {
    color: #cac2c2;
    font-size: 0.9rem;
    background-color: black;
    z-index: 1;
    position: relative;
    font-weight: 520;
}

@media (max-width: 767.8px) {

    .cust-films-container{
      margin-top: -22px;
    }
}

