@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';

:root {
    --background-color: black;
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }

  .cust-btn {
    color: black !important;
    background-color:yellow !important;
    border-color: yellow !important;
}

.btn {
  pointer-events: auto !important;
}

.cust-btn:hover {
  background-color:rgb(226, 226, 137) !important;
  border-color: rgb(226, 226, 137) !important;
}

  
  

